@model CategoryViewModel

<h2>Kategori Bilgisi Güncelle</h2>
<hr>
<div class="row">
    <div class="col-8">
        <form asp-controller="Category" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <input type="hidden" asp-for="Category_id">

            <div class="mb-3">
                <label asp-for="Category_Name" class="form-label">Kategori Adı</label>
                <input asp-for="Category_Name" class="form-control">
                <span asp-validation-for="Category_Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Category_Description" class="form-label">Kategori Açıklaması</label>
                <input asp-for="Category_Description" class="form-control">
            </div>

            <button type="submit" class="btn btn-secondary">Kaydet</button>
        </form>
    </div>
</div>
